<main class="main-page">
  <H1>Тестовое задание</H1>
  <p>Данный проект является результатом выполнения тестового задания</p>

  <h2>Требования:</h2>
  <p>
    Необходимо создать мини-тасктреккер (по типу Asana, можно брать её в
    пример).
  </p>
  <p>
    Стек: Angular (желательно последней версии), Angular Material,
    SCSS/SASS/LESS, TypeScript, RxJs, по желанию NgRx.
  </p>
  <p>В приложении должен быть реализован функционал:</p>
  <ul>
    <li>
      создания задачи (заголовок, название, дедлайн, приоритет, статус,
      исполнители);
    </li>
    <li>редактирование задач (статус, исполнители);</li>
    <li>страница детального просмотра задач и переход на неё;</li>
    <li>
      отдельная страница со всеми задачами + фильтрация и сортировка задач по
      статусам, исполнителю и дате дедлайна;
    </li>
    <li>сохранение всех изменений в localStorage;</li>
  </ul>
  <h2>Доп требования (необязательны, но желательны):</h2>
  <ul>
    <li>
      максимально использовать TypeScript (везде должны быть указаны типы,
      енамы, кастомные типы/интерфейсы, utility types и т.д.);
    </li>
    <li>использовать последнюю версию ангуляра и его новые фичи;</li>
    <li>
      реализовать имитацию получения данных с сервера с использование
      angular-сервисов и NgRx (в качестве сервера можно использовать
      localStorage);
    </li>
  </ul>
</main>
