<form [formGroup]="taskForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Название</mat-label>
            <input matInput [formControl]="taskForm.controls.title" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Описание</mat-label>
            <textarea
              matInput
              [formControl]="taskForm.controls.description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Дедлайн</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [formControl]="taskForm.controls.deadline"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Приоритет</mat-label>
            <mat-select [formControl]="taskForm.controls.priority">
              @for (state of priorities; track state) {
              <mat-option [value]="state.value">{{ state.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Статус</mat-label>
            <mat-select [formControl]="taskForm.controls.status">
              @for (state of statuses; track state) {
              <mat-option [value]="state.value">{{ state.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Исполнители</mat-label>
            <mat-select [formControl]="taskForm.controls.performer">
              @for (state of statuses; track state) {
              <mat-option [value]="state.value">{{ state.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      @if (editMode || updateMode) {
      <button
        mat-stroked-button
        color="primary"
        class="send-btn"
        type="submit"
        [disabled]="taskForm.invalid"
      >
        Сохранить
      </button>
      } @else {
      <button
        mat-stroked-button
        color="primary"
        class="send-btn"
        (click)="editTask()"
        [disabled]="taskForm.invalid"
      >
        Редактировать
      </button>
      }
    </mat-card-actions>
  </mat-card>
</form>
